<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="./static/css/style.css")
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
body
    include src/sidebar/sidebar
    include src/board/board
<script src="https://kit.fontawesome.com/804b10288e.js" crossorigin="anonymous"></script>
  
