.sidebar
    .sidebar__profile
        img.sidebar__avatar(src="./static/img/avatar.png", alt="")
        h3.sidebar__username Игорь Масляков
    .sidebar__string
    .sidebar__panel
        .sidebar__panel__textgroup
            button.sidebar__panel__text #[<i class="fas fa-clipboard-list"></i>] #[span]Доска объявленй
        .sidebar__panel__textgroup
            button.sidebar__panel__text #[<i class="fas fa-envelope"></i>] #[span]Сообщения
        .sidebar__panel__textgroup
            button.sidebar__panel__text #[<i class="fas fa-tasks"></i>] #[span]Мои задачи
        .sidebar__panel__textgroup
            button.sidebar__panel__text #[<i class="fas fa-users"></i>] #[span]Клиенты

