.tab 
    button.tab__button__clients #[span.user]<i class="fas fa-user-friends"></i> #[span.button__tab__text]128 #[span]клиентов
    button.tab__button__lessons #[span.user]<i class="fas fa-clipboard-check"></i> #[span.button__tab__text]32 #[span]завершенные #[span]задачи